<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Evento</title>
    <link th:href="@{/css/cadastro-evento.css}" rel="stylesheet"/>
    <link th:href="@{/img/icone.png}" rel="icon" >
</head>
<body>
    <div class="container">
        <div class="menu-topo">
            <a th:href="@{/}" class="btn-nav">Menu Principal</a>
            <a th:href="@{/categorias/cadastrar}" class="btn-nav">Cadastrar Categoria</a>
            <a th:href="@{/eventos/listar}" class="btn-nav">Listar Eventos</a>
        </div>

        <h2>Novo Evento</h2>

        <div th:if="${mensagem}" class="alert-sucesso" th:text="${mensagem}"></div>

        <form th:action="@{/eventos/salvar}" th:object="${evento}" method="post">
            <div class="form-group">
                <label class="form-label" for="nome">Nome do Evento:</label>
                <input type="text" id="nome" th:field="*{nome}" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="categoria">Categoria Relacionada:</label>
                <select id="categoria" th:field="*{categoria}" required>
                <option value="" disabled selected>Selecione uma Categoria...</option>
                <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
                </select>
                <div class="help-text">A categoria desejada não aparece? <a th:href="@{/categorias/cadastrar}">Cadastre uma nova aqui</a>.</div>
            </div>

            

            <div class="form-group">
                <label class="form-label" for="data">Data do Evento:</label>
                <input type="date" id="data" th:field="*{data}" required>
            </div>

            

            <div class="form-group">
                <label class="form-label" for="local">Local do Evento:</label>
                <input type="text" id="local" th:field="*{local}" required>
            </div>

            

            <div class="form-group">
                <label class="form-label" for="descricao">Descrição Completa:</label>
                <textarea id="descricao" th:field="*{descricao}" rows="3" required></textarea>
            </div>



            <button type="submit" class="btn-submit">Salvar Evento</button>
        </form>

        <br>
        <p>Componentes do Grupo: Artur Costa Barbuzano, Henrique Abreu Hollanda da Rocha e Thiago Ferreira Nunes</p>
    </div>
</body>
</html>